<div class="homepage-background d-flex flex-column align-items-center justify-content-center">
  <div class="d-flex flex-column fade">
    <h1 class="page-title">Mr. Cocktail</h1>
  </div>

  <div class="container text-center">
    <a href="#list-of-cocktails" class="btn-homepage">View Menu</a>
    <%= link_to 'Make My Own', new_cocktail_path, class: 'btn-homepage' %>
  </div>

 <!--  <div class="container text-center">
    <form action="">
      <input type="text" placeholder="Search...">
      <input type="submit">
    </form>
  </div> -->

</div>

<div class="index-background">
  <div class="container">

    <div class="row" id="list-of-cocktails">
      <!-- Sort class instances alphabetically by name -->
      <% @cocktails = @cocktails.sort_by(&:name) %>

      <!-- Display cocktail instances -->
      <% @cocktails.each do |cocktail| %>
        <!-- Dispaly default Picture or picture user has uploaded -->
        <% cocktail_photo = '' %>
        <% if cocktail.photo.attached? %>
          <% cocktail_photo = cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <% cocktail_photo = asset_path 'cocktail.jpg' %>
        <% end %>

        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card my-4 shadow-sm card-bg-img text-white"
            style="width: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail_photo %>)" data-aos="zoom-in-up">
            <div class="card-body">
              <h5 class="card-title"><%= cocktail.name.split.map(&:capitalize).join(' ') %></h5>
              <p class="card-text"><%= cocktail.description %></p>
              <%= link_to 'View Cocktail', cocktail_path(cocktail), class: 'card-link' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- End of Container -->
  </div>
</div>


